<h1>New mood</h1>

<%= form_for(@mood) do |f| %>
	<div class="field">
		<%= f.label :rating %><br>
		<%= f.range_field :rating, in: 1..100 %>
	</div>
	<div class="field">
		<%= f.label :message %><br>
		<%= f.text_field :message %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>