<header>
	<div class="logout">
		<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
	</div>
	<div class="home">
		<%= link_to image_tag("http://i.imgur.com/I7O3Zsu.png"), usermoods_path %>
	</div>
</header>
<h1>Current Mood: <%= @mood.rating %> </h1>
<br>
<h3>Why: <%= @mood.message %></h3>

<div class="compare"><%= link_to image_tag("http://i.imgur.com/rY87M5n.png"), usermoods_path %>
</div>